@import url(./__container/popup-mesto__container.css);

@import url(./__heading/popup-mesto__heading.css);

@import url(./__closeButton/popup-mesto__closeButton.css);

@import url(./__overlay-black/popup-mesto__overlay-black.css);

.popup-mesto {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background:rgba(0,0,0,.7);
  z-index: 100;
  transition: all 0.3s ease;
	opacity: 0;
}

.popup-mesto_opened {
  visibility: visible;
  opacity: 1;
}

.popup-mesto:hover .popup-mesto_opened {
  display: flex;
  animation: fadeIn 3s;
}