.form__heading {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 34px auto 54px 36px;
}

@media screen and (max-width : 700px) {
  .form__heading {
    margin: 29px auto 28px 0px;
  }
}