.form__close_icon {
  position: relative;
  top: -12px;
  left: -16px;
}

.form__close_icon:hover {
  opacity: 0.8;
}

@media screen and (max-width : 700px) {
  .form__close_icon {
    left: -289px;
    top: -122px;
    width: 25px;
    height: 25px;
  }
}