@import url(./__description/element__description.css);

@import url(./__group/element__group.css);

@import url(./__heading/element__heading.css);

@import url(./__image/element__image.css);


.element {
  width: 282px;
  height: 361px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow:hidden;
}