.popup__closeButton {
  position: absolute;
  top: -37px;
  left: 428px;
  width: 41px;
  height: 41px;
  background: rgba(0, 0, 0, 0);
  border-width: 0;
  cursor: pointer;
  outline: none;
  background-image: url(../../../images/Closecon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.popup__closeButton:hover {
  opacity: 0.8;
}

@media screen and (max-width : 700px) {
  .popup__closeButton {
    top: -19px;
    left: 264px;
    width: 18px;
    height: 18px;
  }
}